.back-top {
    background-color: #00963e;
    height: 15vh;
  }
  
  .back-main {
    background-color: #d9dbd5;
    height: 85vh;
  }
  
  .back-container {
    position: relative;
  }
  
  .front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .front-container1 {
    position: absolute;
    top: 20px;
    left: 2rem;
    right: 0;
    width: 60rem;
  }
  
  .chat-top {
    /* background-color: #ededed; */
    min-height: 50px;
  }
  
  .profile-image {
    margin-top: 7px;
    height: 30px;
    width: 30px;
  }
  
  .contacts {
    background-color: #ffffff;
    min-height: 600px;
  }
  
  .contact-table-scroll {
    overflow-y: scroll;
    height: 600px;
  }
  
  .message-area {
    background-color: #e4e1de;
    min-height: 600px;
  }
  
  .message-table-scroll {
    overflow-y: scroll;
    height: 550px;
  }
  
  .message-box {
    background-color: #f0f0f0;
  }

  .time-stamp{
    color: #bebbbb;
    display: flex;
    flex-direction: row-reverse;
    line-height: 2px;
  }

  .top-left-profile {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    padding: .5rem;
    background-color: #ededed;
}

.logout-btn{
    display: flex;
    flex-direction: row-reverse;
}


tr.users{
    align-content: center;
    justify-self: center;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align:middle;
    border-top: 1px solid #dee2e6;
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  


