
/* .main-container{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/mahakal.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1
}
/* .main-container{
    position: relative;
} */


body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/mahakal.jpg');
    filter: blur(5px);
    z-index: -1;
  }
  
  