
/* .container{
    height: 100%;
    width: 100%;
    background-image: url('../assets/mahakal.jpg');
    background-size: cover;
    background-position: center;
} */

body{
    background-image: url('../assets/mahakal.jpg');
    background-size: cover;
    background-position: center;
}